Backups
Discord
__pycache__
tempCodeRunnerFile.py
ubuntu_login.pem
ec2_server.txt
testing
ubuntu_login.pem
Player Heights.xlsx
fingerprint.txt
Server Setup/libraries
server.jar
Trunkraft Resourcepack/assets
Player Text/email_password.txt